.wrap {
    position: relative;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

._container {
    max-width: 1294px;
    margin: 0px auto;
    /* box-sizing: content-box; */
}

.page{
    position: relative;
    /* flex: 1 1 auto; */
height: 50%;
}

img {
    position:relative;
    top:0;
    left:0;
}